{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width" initial-scale="1.0">
    <title>Gráficos</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body id="index">
    <section>
        <nav class="nav-main" style="font-family: kanit;">
            <div class="logo"><img src="{% static 'logo_univesp.png' %}" alt=""></div>
            <ul>
                <li> <a href="index.html">Home</a></li>
                <li> <a href= "sobre_o_projeto.html">Sobre o Projeto</a></li>
                <li> <a href="universidade.html">A Universidade</a></li>
                <li> <a href="dashboard.html">Gráficos</a></li>
            </ul>
        </nav> 
    </section>

    <div style="display: flex; flex-direction: column; align-items: center; width: 50%; margin: auto;">
        <canvas id="graficoBarras"></canvas>
        <script src="{% static 'dashboard.js' %}"></script>
    </div>

</body>

<footer id="footer">
    Grupo 2 - Projeto Integrador II - UNIVESP - 2023
</footer>

</html>
